// Color palette
$color-primary: #e7c300;
$color-secondary: #cccccc;

// Text color
$text-color-primary: #2a2a2a;
$text-color-secondary: #ffffff;

// Background color
$background-color-primary: #faf9f3;
$background-color-secondary: #ffffff;
$background-color-footer: #2a2a2a;

// Spacing
$spacing-container-large: 20px;
$spacing-container-medium: 10px;
$spacing-button: 10px;
$footer-height: 50px;

// Dynamic spacing
$dyn-spacing-large: 10%;

// Border radius
$border-radius-container: 15px;
$border-radius-button: 5px;

// Screen sizes
$screen-width-mobile: 768px;
