footer {
  background-color: $background-color-footer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
  height: $footer-height;

  .container {
    display: inline-block;
    color: $text-color-secondary;
  }

  nav {
    ul {
      display: flex;
    }

    li {
      margin: 0 20px;
    }
  }
}
